<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>
<% @data.each do |data| %>
    <h4>CODE: <%= data%></h4>
<%end%>

<% @data2.each do |data2| %>
    <h4>CODE: <%= data2%></h4>
<%end%>



<br>

<%= link_to 'New Group', new_group_path %>
